<a href="https://colab.research.google.com/github/Pt-home/Notebooks/blob/main/Nomades2_0_Pandas_06_DirtyDatas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('ggplot')

plt.rcParams['figure.figsize'] = (10, 5)

In [ ]:
complaints = pd.read_csv('sample_data/service-requests.csv')

In [ ]:
complaints[:5]

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432.0,90-03 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378.0,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032.0,4060 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
3,26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023.0,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
4,26590930,10/31/2013 01:53:44 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027.0,WEST 124 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)"

In [ ]:
complaints.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8730 entries, 0 to 8729
Data columns (total 52 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unique Key                      8730 non-null   int64
 1   Created Date                    8730 non-null   object
 2   Closed Date                     3206 non-null   object
 3   Agency                          8730 non-null   object
 4   Agency Name                     8730 non-null   object
 5   Complaint Type                  8729 non-null   object
 6   Descriptor                      8677 non-null   object
 7   Location Type                   5137 non-null   object
 8   Incident Zip                    7449 non-null   float64
 9   Incident Address                6296 non-null   object
 10  Street Name                     6295 non-null   object
 11  Cross Street 1                  6204 non-null   object
 12  Cross Street 2                  6110 non-null   object
 13  Intersection Street 1           1702 non-null   object
 14  Intersection Street 2           1702 non-null   object
 15  Address Type                    7862 non-null   object
 16  City                            7456 non-null   object
 17  Landmark                        4 non-null      object
 18  Facility Type                   1427 non-null   object
 19  Status                          8729 non-null   object
 20  Due Date                        3226 non-null   object
 21  Resolution Action Updated Date  5704 non-null   object
 22  Community Board                 8729 non-null   object
 23  Borough                         8729 non-null   object
 24  X Coordinate (State Plane)      7403 non-null   float64
 25  Y Coordinate (State Plane)      7403 non-null   float64
 26  Park Facility Name              8729 non-null   object
 27  Park Borough                    8729 non-null   object
 28  School Name                     8729 non-null   object
 29  School Number                   8728 non-null   object
 30  School Region                   8687 non-null   object
 31  School Code                     8687 non-null   object
 32  School Phone Number             8729 non-null   object
 33  School Address                  8729 non-null   object
 34  School City                     8729 non-null   object
 35  School State                    8729 non-null   object
 36  School Zip                      8729 non-null   object
 37  School Not Found                3208 non-null   object
 38  School or Citywide Complaint    0 non-null      float64
 39  Vehicle Type                    5 non-null      object
 40  Taxi Company Borough            6 non-null      object
 41  Taxi Pick Up Location           80 non-null     object
 42  Bridge Highway Name             13 non-null     object
 43  Bridge Highway Direction        13 non-null     object
 44  Road Ramp                       13 non-null     object
 45  Bridge Highway Segment          15 non-null     object
 46  Garage Lot Name                 2 non-null      object
 47  Ferry Direction                 2 non-null      object
 48  Ferry Terminal Name             3 non-null      object
 49  Latitude                        7403 non-null   float64
 50  Longitude                       7403 non-null   float64
 51  Location                        7403 non-null   object
dtypes: float64(6), int64(1), object(45)
memory usage: 3.5+ MB

In [ ]:
complaints['Incident Zip'].unique()

array([11432., 11378., 10032., 10023., 10027., 11372., 11419., 11417.,
       10011., 11225., 11218., 10003., 10029., 10466., 11219., 10025.,
       10310., 11236.,    nan, 10033., 11216., 10016., 10305., 10312.,
       10026., 10309., 10036., 11433., 11235., 11213., 11379., 11101.,
       10014., 11231., 11234., 10457., 10459., 10465., 11207., 10002.,
       10034., 11233., 10453., 10456., 10469., 11374., 11221., 11421.,
       11215., 10007., 10019., 11205., 11418., 11369., 11249., 10005.,
       10009., 11211., 11412., 10458., 11229., 10065., 10030., 11222.,
       10024., 10013., 11420., 11365., 10012., 11214., 11212., 10022.,
       11232., 11040., 11226., 10281., 11102., 11208., 10001., 10472.,
       11414., 11223., 10040., 11220., 11373., 11203., 11691., 11356.,
       10017., 10452., 10280., 11217., 10031., 11201., 11358., 10128.,
       11423., 10039., 10010., 11209., 10021., 10037., 11413., 11375.,
       11238., 10473., 11103., 11354., 11361., 11106., 11385., 10463.,
       10467., 11204., 11237., 11377., 11364., 11434., 11435., 11210.,
       11228., 11368., 11694., 10464., 11415., 10314., 10301., 10018.,
       10038., 11105., 11230., 10468., 11104., 10471., 11416., 10075.,
       11422., 11355., 10028., 10462., 10306., 10461., 11224., 11429.,
       10035., 11366., 11362., 11206., 10460., 10304., 11360., 11411.,
       10455., 10475., 10069., 10303., 10308., 10302., 11357., 10470.,
       11367., 11370., 10454., 10451., 11436., 11426., 10153., 11004.,
       11428., 11427., 11001., 11363., 10004., 10474., 11430., 10000.,
       10307., 11239., 10119., 10006., 10048., 11697., 11692., 11693.,
       10573.,    83., 11559.])

In [ ]:
na_values = ['NO CLUE', 'N/A', '0']
requests = pd.read_csv('sample_data/service-requests.csv', na_values=na_values, dtype={'Incident Zip': str})

In [ ]:
requests['Incident Zip'].unique()

array(['11432', '11378', '10032', '10023', '10027', '11372', '11419',
       '11417', '10011', '11225', '11218', '10003', '10029', '10466',
       '11219', '10025', '10310', '11236', nan, '10033', '11216', '10016',
       '10305', '10312', '10026', '10309', '10036', '11433', '11235',
       '11213', '11379', '11101', '10014', '11231', '11234', '10457',
       '10459', '10465', '11207', '10002', '10034', '11233', '10453',
       '10456', '10469', '11374', '11221', '11421', '11215', '10007',
       '10019', '11205', '11418', '11369', '11249', '10005', '10009',
       '11211', '11412', '10458', '11229', '10065', '10030', '11222',
       '10024', '10013', '11420', '11365', '10012', '11214', '11212',
       '10022', '11232', '11040', '11226', '10281', '11102', '11208',
       '10001', '10472', '11414', '11223', '10040', '11220', '11373',
       '11203', '11691', '11356', '10017', '10452', '10280', '11217',
       '10031', '11201', '11358', '10128', '11423', '10039', '10010',
       '11209', '10021', '10037', '11413', '11375', '11238', '10473',
       '11103', '11354', '11361', '11106', '11385', '10463', '10467',
       '11204', '11237', '11377', '11364', '11434', '11435', '11210',
       '11228', '11368', '11694', '10464', '11415', '10314', '10301',
       '10018', '10038', '11105', '11230', '10468', '11104', '10471',
       '11416', '10075', '11422', '11355', '10028', '10462', '10306',
       '10461', '11224', '11429', '10035', '11366', '11362', '11206',
       '10460', '10304', '11360', '11411', '10455', '10475', '10069',
       '10303', '10308', '10302', '11357', '10470', '11367', '11370',
       '10454', '10451', '11436', '11426', '10153', '11004', '11428',
       '11427', '11001', '11363', '10004', '10474', '11430', '10000',
       '10307', '11239', '10119', '10006', '10048', '11697', '11692',
       '11693', '10573'], dtype=object)

In [ ]:
zips = requests['Incident Zip']

is_close = zips.str.startswith('0') | zips.str.startswith('1')
is_far = ~(is_close) & zips.notnull()

Series([], Name: Incident Zip, dtype: object)